<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/admin/v1/student/add}" method="get">
    <button>Добавить студента</button>
</form>
<div>
    <table border="1">
        <caption>Уведомления об изменениях</caption>
        <tr>
            <th>ID</th>
            <th>Сообщение</th>
            <th>Прочитано?</th>
        </tr>
        <tr th:each="ch: ${changes}">
            <td th:text="${ch.id}"></td>
            <td th:text="'Студент с id ' + ${ch.id_student} + ' изменил адрес с ' +  ${ch.old_value} + ' на ' + ${ch.new_value} + ' ( ' + ${ch.date} + ' )'"></td>
            <td>
                <form th:action="@{/admin/v1/change/{id}(id=${ch.id})}" method="post">
                    <button>Прочитано</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Фамилия Имя Отчество</th>
            <th>Группа</th>
        </tr>
        <tr th:each="el : ${students}">
            <td th:text="${el.id}"></td>
            <td th:text="${el.second_name} + ' ' + ${el.first_name} + ' ' + ${el.patronymic}"></td>
            <td th:text="${el.group_id}"></td>
            <td>
                <form th:action="@{/admin/v1/student/{id_student}(id_student=${el.id})}" method="get">
                    <button>Изменить данные</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>