<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="ru">
<head>
  <title>Профиль</title>
</head>
<body>
<div>
  <p th:text="'Фамилия : ' + ${student.second_name}"></p>
  <p th:text="'Имя : ' + ${student.first_name}"></p>
  <p th:text="'Отчество : ' + ${student.patronymic}"></p>
  <p th:text="'Дата рождения : ' + ${student.birthdate}"></p>
  <p th:text="'Возраст : ' + ${student.age}"></p>
  <form th:action="@{/admin/v1/student/{id_student}(id_student=${student.id})}" method="post">
    <p th:text="'Группа : ' + ${student.group_id}"></p>
    <label>
      <input type="text" name="new_value" placeholder="Укажите новую группу">
    </label>
    <input type="hidden" name="param" value="group_id"/>
    <button type="submit">Изменить</button>
  </form>
  <form th:action="@{/admin/v1/student/{id_student}(id_student=${student.id})}" method="post">
    <p th:text="'Адрес : ' + ${student.full_address}"></p>
    <label>
      <input type="text" name="new_value" placeholder="Укажите новый адрес">
    </label>
    <input type="hidden" name="param" value="full_address"/>
    <button type="submit">Изменить</button>
  </form>
  <form th:action="@{/admin/v1/student/{id_student}(id_student=${student.id})}" method="post">
    <p th:text="'Вулфкоинов : ' + ${student.point}"></p>
    <label>
      <input type="text" name="new_value" placeholder="Укажите новое количество баллов">
    </label>
    <input type="hidden" name="param" value="point"/>
    <button type="submit">Изменить</button>
  </form>
  <form th:action="@{/admin/v1/student/{id_student}(id_student=${student.id})}" method="post">
    <p th:text="'Курс №  : ' + ${numberCourse} + ' (' + ${nameCourse} + ')'"></p>
    <label>
      <input type="text" name="new_value" placeholder="Укажите новый номер курса">
    </label>
    <input type="hidden" name="param" value="course_id"/>
    <button type="submit">Изменить</button>
  </form>
</div>
<div>
  <form th:action="@{/admin/v1/main}" method="get">
    <button type="submit">Вернуться к списку студентов</button>
  </form>
</div>
</body>
</html>