<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="ru">
<head>
  <link rel="stylesheet" th:href="@{../static/css/main.css}"/>
  <title>Профиль</title>
</head>
<body>
<div>
  <p th:text="'Фамилия : ' + ${student.second_name}"></p>
  <p th:text="'Имя : ' + ${student.first_name}"></p>
  <p th:text="'Отчество : ' + ${student.patronymic}"></p>
  <p th:text="'Дата рождения : ' + ${student.birth_date}"></p>
  <p th:text="'Возраст : ' + ${student.age}"></p>
  <form th:action="@{/admin/v1/student/change}" method="post">
    <p th:text="'Группа : ' + ${student.group_id}"></p>
    <input type="text" name="new_value" placeholder="Укажите новое значение">
    <input type="hidden" name="id" value="${student.id}"/>
    <input type="hidden" name="param" value="group"/>
    <button type="submit">Изменить</button>
  </form>

  <p th:text="${el.first_name}"><strong></strong></p>
  <p th:text="${el.patronymic}"><strong></strong></p>
  <p th:text="'День рождения: ' + ${el.birth_date} + '( ' + ${el.age} + ' )'"></p>
  <p th:text="'Номер группы: №' + ${el.group_id}"></p>
</div>
</body>
</html>