<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="ru">
<head>
  <meta charset="UTF-8">
  <title th:text="${name}"></title>
</head>
<body>
<div th:each="el : ${submodule}">
  <p th:text="${el.name}"><strong></strong></p>
  <p th:text="${el.description}"><strong></strong></p>
</div>
<div th:each="m : ${lessons}">
  <a th:text="${m.name}" th:href="@{/api/v1/lesson/{lessonName}(lessonName=${m.name})}"></a>
  <p th:text="${m.description}"><strong></strong></p>
</div>
</body>
</html>